// Define variables for your color scheme
// color pallett: https://coolors.co/1a1423-372549-774c60-b75d69-eacdc2
// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$Xiketic: #1A1423;
$Dark-purple: #372549;
$Twilight-lavendar: #774C60;
