<div class="task-containers">
  <% @tasks.each do |task| %>
    <div class="task-container">
      <%= link_to  task_path(task), class: "task-title" do %>
        <h2 class="task-title"><%= task.title %></h2>
      <% end %>
      <%= link_to task_path(task), method: :delete  do %>
        <div class="circle"></div>
      <% end %>
    </div>
  <% end %>

  <%= link_to "Create New Task", new_task_path %>
</div>
