<% @tasks.each do |task| %>
  <div class="task-container">
    <%= link_to  task_path(task), class: "task-title" do %>
      <h2 class="task-title"><%= task.title %></h2>
    <% end %>
    <div class="circle"></div>
  </div>
<% end %>
