<div class="task-containers">
  <% @tasks.each do |task| %>
    <div class="task-container" data-controller="complete">
      <%= link_to  task_path(task), class: "task-title" do %>
        <h2 class="task-title" data-complete-target="output"><%= task.title %></h2>
      <% end %>
      <%= link_to task_path(task), method: :delete, remote: true  do %>
        <div class="circle" data-action="click->complete#delete"></div>
      <% end %>
    </div>
  <% end %>

  <div><%= link_to "Create New Task", new_task_path %></div>
</div>
